@media (min-width: 1200px){
    .container .detalhes {
        width: 35%;
    }
}

    @media (min-width: 992px) {
        .detalhes {
            width: 40%;
        }
    }

    @media (min-width: 768px) {
        .detalhes {
            width: 45%;
        }
    }
