*{
    padding: 0px;
    margin: 0px;
    border: none;
}

header{
    margin: auto;
    max-width: 100%;
    z-index: 20px;
}

.conteudo{
    margin: auto;
    width: 40%;
    top: 70px;
    /*background-color: rgba(240,240,240, 0.79);*/
    position: relative;
}